<template>
  <div class="l-create">
    <div class="l-create__group">
      <input
        type="text"
        required="required"
        v-model="todoText"
        @keyup.enter="addTodo"
        id="creationInput"
        class="form-control"
      />
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Input your deal</label>
    </div>
    <button @click="addTodo" class="btn">Create</button>
  </div>
</template>
<script>
export default {
  name: 'ListCreation',
  data() {
    return {
      todoText: '',
    }
  },
  methods: {
    addTodo() {
      if (this.todoText.trim().length !== 0) {
        this.$store.dispatch('addTodo', this.todoText)
        this.todoText = ''
      }
    },
  },
}
</script>
