<template>
  <div class="l-stats__in">
    <div class="l-stats__item">Deals: {{ completedTodosNum }}</div>
    <div class="l-stats__item">Deals left: {{ unCompletedTodosNum }}</div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ListStats',
  computed: {
    ...mapGetters(['completedTodosNum']),
    ...mapGetters(['unCompletedTodosNum']),
  },
}
</script>
