<template>
  <div>
    <list :todo-list="filteredList" />
  </div>
</template>

<script>
import List from '@/components/List'
import { mapGetters } from 'vuex'
export default {
  name: 'All',
  components: {
    List,
  },
  computed: {
    ...mapGetters(['todoList']),
    filteredList() {
      const filterParam = this.$route.path.split('/')[1]
      return this.todoList(filterParam)
    },
  },
}
</script>
