<template>
  <div>
    <div v-if="todoList.length > 0" class="l-list">
      <div v-for="(item, i) in todoList.slice().reverse()" :key="item.id" class="l-item">
        <label class="l-item__title">
          <input :checked="item.completed" @change="changeTodoStatus(item)" type="checkbox" />
          <span>{{ item.text }}</span>
        </label>
        <!--editable input-->
        <input
          ref="createTodoInput"
          type="text"
          v-model="item.text"
          @keyup.enter="editTodo(item.id, i, item.text)"
          @blur="editTodo(item.id, i, item.text)"
          v-show="editFormOpenedList[i]"
          class="l-item__edit-input"
        />
        <!--editable actions-->
        <span class="l-item__edit" @click="openEditForm(i)">
          <img src="@/assets/img/edit.svg" alt="" />
        </span>

        <span class="l-item__remove" @click="removeTodo(item.id)">
          <img src="@/assets/img/delete.svg" alt="" />
        </span>
      </div>
    </div>
    <div v-else>Deals not exists</div>
  </div>
</template>

<script>
export default {
  name: 'List',
  props: {
    todoList: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      editFormOpenedList: Array(this.todoList.length),
    }
  },
  methods: {
    changeTodoStatus(todoItem) {
      this.$store.dispatch('changeTodoStatus', todoItem)
    },

    removeTodo(id) {
      this.$store.dispatch('removeTodo', id)
    },

    openEditForm(index) {
      const $th = this
      if (!this.editFormOpenedList[index]) {
        /*focus to input*/
        setTimeout(function() {
          $th.$refs.createTodoInput[index].focus()
        }, 0)
        this.editFormOpenedList.splice(index, 1, true)
      } else {
        this.editFormOpenedList.splice(index, 1, false)
      }
    },

    closeEditForm(index) {
      this.editFormOpenedList.splice(index, 1, false)
    },

    editTodo(id, index, newTodoText) {
      if (newTodoText.length) {
        this.$store.dispatch('editTodo', {
          id: id,
          text: newTodoText,
          completed: false,
        })
        this.closeEditForm(index)
      }
    },
  },
}
</script>
