<template>
  <div class="l-progress__in">
    <div class="l-progress__title">Progress</div>
    <div class="l-progress-line">
      <div class="l-progress-line__value" :style="{ width: progress + '%' }">{{ progress ? progress + '%' : '' }}</div>
    </div>
    <span class="l-complete-all-act" @click="completeAll">Complete all</span>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ListProgress',
  computed: {
    ...mapGetters(['completedTodosNum']),
    ...mapGetters(['allTodosNum']),
    progress() {
      return Math.round((this.completedTodosNum / this.allTodosNum) * 100)
    },
  },
  methods: {
    completeAll() {
      this.$store.dispatch('completeAll')
    },
  },
}
</script>
