<template>
  <div class="l-app container">
    <!--nav header-->
    <div class="l-nav">
      <router-link :to="{ name: 'all' }">All</router-link>
      <router-link :to="{ name: 'completed' }">Completed</router-link>
      <router-link :to="{ name: 'uncompleted' }">Uncompleted</router-link>
    </div>
    <div class="row">
      <!--count status text-->
      <div class="l-stats">
        <ListStats />
      </div>
      <!--centered list items-->
      <div class="l-list-box">
        <div class="l-list-box__create">
          <ItemCreation />
        </div>
        <div class="l-list-box__view">
          <router-view></router-view>
        </div>
      </div>
      <!--precent stats-->
      <div class="l-progress">
        <ListProgress />
      </div>
    </div>
  </div>
</template>
<script>
import ItemCreation from '@/components/ItemCreation'
import ListStats from '@/components/ListStats'
import ListProgress from '@/components/ListProgress'
export default {
  name: 'Main',
  components: {
    ItemCreation,
    ListStats,
    ListProgress,
  },
}
</script>
