body {
  min-width: 320px;
  font-size: 14px;
}
$primary-base-color: rgb(76, 175, 80);
$border-color: #ebebeb;

.row {
  display: flex;
  @media (max-width: 767px) {
    flex-flow: wrap;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

input {
  font-size: 14px;
}

.btn {
  -webkit-appearance: none;
  font-size: 14px;
  text-shadow: none;
  line-height: 1.2;
  display: inline-block;
  padding: 10px 16px;
  position: relative;
  border-radius: 4px;
  background: $primary-base-color;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  border: none;
  &:hover {
    background-color: lighten($primary-base-color, 10%)
  }
}