.l-nav {
  text-align: center;
  padding-bottom: 10px;
  a {
    padding: 5px;
    display: inline-block;
    font-size: 16px;
    &.router-link-active {
      color: $primary-base-color;
    }
  }
}

.l-stats,
.l-progress {
  flex: 0 0 20%;
  @media (max-width: 767px) {
    flex: 1 1 auto;
  }
}

.l-stats {
  @media (min-width: 768px) {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid $border-color;
  }
}

.l-stats__item {
  padding: 10px 0;
  & + .l-stats__item {
    border-top: 1px solid $border-color;
  }
}

.l-progress {
  @media (min-width: 768px) {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid $border-color;
  }
}

.l-create {
  display: flex;
  align-items: center;

  .form-control {
    background: none;
    color: #333;
    font-size: 18px;
    padding: 10px 10px 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $border-color;
    box-sizing: border-box;
    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 12px;
      color: $primary-base-color;
    }
    &:focus ~ .bar:before {
      width: 100%;
    }
  }

  label {
    color: $primary-base-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: .3s ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: $primary-base-color;
      transition: .3s ease all;
      left: 0;
    }
  }
}

.l-create__group {
  position: relative;
  margin-right: 10px;
  flex: 1 1 auto;
}

.l-progress__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.l-app {
  padding-top: 20px;
}

.l-list-box {
  flex: 1 1 auto;
}

.l-list-box__create {
  margin-bottom: 20px;
}

.l-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
  & + .l-item {
    border-top: 1px solid $border-color;
  }
}

.l-item__edit-input {
  position: absolute;
  border: none;
  width: calc(100% - 140px);
  left: 24px;
  background-color: white;
  color: #2c3e50;
}

.l-item__title {
  min-width: 200px;
  flex: 1 1 auto;
  cursor: pointer;
  line-height: 20px;

  span {
    margin-left: 8px;
  }

  input[type="checkbox"] {
    margin: 0 5px 0 0 ;
    &:checked {
      & + span {
        text-decoration: line-through;
        color: #999;
      }
    }
  }
}

.l-item__remove,
.l-item__edit {
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  cursor: pointer;
  padding: 0 10px;
}

.l-progress-line {
  background-color: #f1f1f1;
  height: 22px;
  width: 100%;
  min-width: 300px;
  position: relative;
  margin-bottom: 10px;
}

.l-progress-line__value {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: $primary-base-color;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-complete-all-act {
  cursor: pointer;
  text-decoration: underline;
}