h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}

body {
  margin: 0;
}

* {
  outline: none;
}


a {
  color: #555;
}

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 14px;
}

input {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  &.list {
    list-style: disc;
  }
  li {
    display: list-item;
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    & + li {
      margin-top: 7px;
    }
  }
}
